 <template>

      <div id="app" style="background-color: #202C2A"  >
    <h1>
      <marquee scrollamount="30" style="color : ">Profile and Professional  </marquee>
       </h1>
       <br><br>
<b-container fluid class="" >
  <b-row >
    <b-col>
     <b-img center rounded="circle" thumbnail fluid src="https://scontent.fbkk12-3.fna.fbcdn.net/v/t1.0-9/56899560_2353292251389030_6452266494754553856_n.jpg?_nc_cat=102&_nc_oc=AQkmDYSmW-depVFm2lwmVf0rubuHGYPHWTtFQjQrrWveYmH7BBSRXsBMK4xvv8qj6NJK2MWhidOLpmVHJ-BnLWAr&_nc_ht=scontent.fbkk12-3.fna&oh=fbeee955c6f1b6c3733b9df3ea760e5e&oe=5E26DBE8" alt="Image 1"></b-img>
    </b-col>
    <b-col>
      <b-img center rounded="circle" thumbnail fluid src="https://scontent.fbkk8-4.fna.fbcdn.net/v/t1.0-9/19113664_1507166306001633_1804177482927423233_n.jpg?_nc_cat=100&_nc_oc=AQnbL9VIXixF_m1CPYX1J2LjUlJPa90ZWpFkAWKtvOyCzvlaz2rL_s5OKAEqSG6ENfh0zR2d9tZwEF_irE0wjWcs&_nc_ht=scontent.fbkk8-4.fna&oh=d99e91005b8716c730a25c5dc796f678&oe=5DEF38B8" alt="Image 2"></b-img>
    </b-col>
    <b-col>
      <b-img center rounded="circle" thumbnail fluid src="https://scontent.fbkk9-2.fna.fbcdn.net/v/t1.0-9/15355768_1302859229765676_9174457605993603685_n.jpg?_nc_cat=109&_nc_oc=AQkfVZCRinqGaNSE8oAFT3WnA4_wGd9Xcc8v8tdAnYMIjJnCxXxBYCDNu5Z6H2XJao0fDZYsurdMZxagPs7c2yKJ&_nc_ht=scontent.fbkk9-2.fna&oh=a85aadd5cd4a9f089c5a1bbe71249762&oe=5E332E6A" alt="Image 3"></b-img>
   
    </b-col>
  </b-row>
</b-container>
<br><br>
 <card class="card">
     <div>
         <dir class="card1"><h1> Introduction </h1> <br> Brithday : 3 October <br> Year : 1997 <br> Gender : male  </dir> 
         <dir class="card2"> Guntapong Meepanya <br> 6031305004 <br> Software Enginer <br> Mea Fah Lung </dir> 
         <dir class="card3"> <h1> Contant </h1> Email : nan_meey@hotmail.com <br> Phon : 095-242-9944 <br> Chaing rai 57100 <br> Mea Fah Lung <br> THAiLAND </dir> 

     </div>
     
     </card>



      </div>
     

    </template>


    <style>
.card1{
    
  
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px;
    text-align: center;
    
}
.card2{
     
    float: left;
    width: 40%;
    font-size: 5em;
    text-align: center;
    
}
.card3{

  float: left;
  width: 30%;
  padding: 10px;
  height: 300px;
    text-align: center;
}
.card {
    margin-left: 10cm;
    margin-right: 10cm;
    background-color:#83FFE8;
    
}




</style>
