<template>
 <div>
  <b-card
    title="Kanud Manowan"
    img-src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/43666911_1111008295724263_630723253156970496_n.jpg?_nc_cat=105&_nc_oc=AQlI_uP18aWXOr7FQSDx2EiqDkMzON-oBd0tmkRgTl7Ob5TWdFucFY0PS-uur0gio760Dt-v1P7ZK8O2-CZsud-c&_nc_ht=scontent.fbkk12-2.fna&oh=e6c63accbb7abbec1b158de56a3c671d&oe=5DF846A3"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 20rem;"
    class="mb-2"
    
  >
    <b-card-text>
      software engineer
      6031305007 
    </b-card-text>
    
    <b-card-text>
     Birthday : 28 May 1999
    </b-card-text>

    <b-card-text>
     Favorite song : Im in love with you but
    </b-card-text>

    <b-card-text>
     Never let someone else’s happiness become more' important than your own.
    </b-card-text>
    
  </b-card>
</div>
    </template>

<style>

</style>
