<template>
    <div>

        <b-col class="b-card">
      <b-img  center v-bind="mainProps" rounded="circle" thumbnail fluid src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/15940927_1359523287445116_6024908484682680828_n.jpg?_nc_cat=107&_nc_oc=AQmzH3iO2wMGK0ldsdwaR_ITu4KLzuK2sf-pf8Ca2wYmAi-bG24pU3jL4P-P3AtcBpQ&_nc_ht=scontent.fbkk10-1.fna&oh=9291c2380acf186469adea079d24e115&oe=5DF952CC" 
      alt="Image 1">
      </b-img>
        </b-col>

        <div>
            <b-card class="b-card2">
        <div class="b-card1">
            Name : Tanakrit Nammakuna
            <div>
                Nickname : Nice
                <div>
                    ID : 6031305015
                    <div>
                        Birthday : 23/04/1999
                        <div>
                            Facebook : N'Nice Tanakrit
                            <div>
                                IG : oootanaooo
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
        
            </b-card>
        </div>

    </div>
</template>
<style>
.b-card {
    width: 10cm;
    height: 10cm;
    margin-left: 14.5cm;
    }
.b-card1 {
    text-align: center;
    background-color: dimgrey;
    color: lightcyan;
}
.b-card2{
    
    margin-left: 40ch;
    margin-right: 40ch;
}
</style>