<template>
<div class="masthead-content">
      <div class="container">
        <h1 no-body class="textcss1">Wellcome to introduce myself</h1>
      </div>
        <div class="row align-items-center">
        <div class="col-lg-4 order-lg-2">
          <div class="cssimag">
            <b-img  center v-bind="mainProps" rounded="circle" thumbnail fluid src="https://scontent.fbkk8-3.fna.fbcdn.net/v/t1.0-9/56510915_2838457489713635_8502953507026894848_n.jpg?_nc_cat=111&_nc_oc=AQnRXiIilNeFyij2UtQNBeT20uDKriqQqSyMX6jKwdQHcNx6N8gyiejqquoedJT5KYlR7PjsXfyszomzX0jlHWmf&_nc_ht=scontent.fbkk8-3.fna&oh=6f23bbb27ed01a5aecf24927357222c3&oe=5E37C74E" 
            alt="Image 2">
            </b-img>
          </div>
        </div>
        <div class="col-lg-4 order-lg-2">
          <div class="p-6">
            <h2 class="display-4">Hello, My name is Patipat Champawan.</h2>
            <p class="Pahsatext">My nickname is Book.I come from Lampang.I am 20 years old. Now,I studing at Mae Fah Luang University.School of Information Technology,Software Engineering.</p>
          </div>
        </div>
      </div>
      </div>
</template>

<style>
.cssimag {
  margin-top: 2cm;
  width: 10cm;
  height: 10cm;
  margin-left: 4cm
}
.textcss1{
  text-align: center;
  margin-top: 2cm;
}
.Pahsatext{
  font-size: 2ch
}

</style>