<template>
<div class="masthead-content">
      <div class="container">
        <h1 no-body class="textcss1">ProFile</h1>
      </div>
        <div class="row align-items-center">
        <div class="col-lg-4 order-lg-2">
          <div class="cssimag">
            <b-img  center v-bind="mainProps" rounded="circle" thumbnail fluid src="https://scontent.fbkk12-4.fna.fbcdn.net/v/t1.0-9/70907400_2301051960003510_8569003111832616960_n.jpg?_nc_cat=103&_nc_oc=AQl5XyXrX3WL7GXHRz2-QSpQlf8oNQot_5U1BXarJ4fkpqLiygd9NZsLq0kcya2LsZchw-4Uu-dqKtbYrmTyxByJ&_nc_ht=scontent.fbkk12-4.fna&oh=3dd59255f062957d6ad2ef37b89ce995&oe=5E298F09" 
            alt="Image 2">
            
            </b-img>
          </div>
        </div>
        <div class="col-lg-4 order-lg-2">
          <div class="p-6">
            <h1 class="display-10">witthawat Chaosuwanwilai.</h1>
            <p class="Pahsatext">6031305034</p>
            <div>
            <b-card no-body class="text-center">
        <div class="bg-secondary text-light">
           software engineer
            <div>
                Mae Fah Luang University.
                <div>
                    Birthday : 05/04/1998
                    <div>
                        
                        <div>
                            Facebook : witthawat Chaosuwanwilai
                            <div>
                                IG : Founder_Funny
                                <div>
                                  LENG LOVE MIK
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
        
            </b-card>
        </div>
          </div>
        </div>
      </div>
      </div>
</template>

<style>
.cssimag {
  margin-top: 2cm;
  width: 10cm;
  height: 10cm;
  margin-left: 4cm
}
.textcss1{
  text-align: center;
  margin-top: 2cm;
}
.Pahsatext{
  font-size: 2ch
}
h1{
  text-size-adjust: 15em;
}
h2{
  text-size-adjust: 10em;
}
p{
  text-size-adjust: 10em;
}

</style>