<template>
  <b-breadcrumb :items="items"></b-breadcrumb>
</template>

<script>
  export default {
    data() {
      return {
        items: [
          {
            text: 'address',
            href: 'witthawat'
          },
          {
            text: 'Manage',
            href: '#'
          },
          {
            text: 'Events',
            active: true
          }
        ]
      }
    }
  }
</script>