<template>
 <div>
  <b-container fluid class="p-4 bg-dark">
  <b-row>
    
    <b-col>
      <b-img thumbnail fluid src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/15940927_1359523287445116_6024908484682680828_n.jpg?_nc_cat=107&_nc_oc=AQmzH3iO2wMGK0ldsdwaR_ITu4KLzuK2sf-pf8Ca2wYmAi-bG24pU3jL4P-P3AtcBpQ&_nc_ht=scontent.fbkk10-1.fna&oh=9291c2380acf186469adea079d24e115&oe=5DF952CC" 
      alt="Image 1"> 
      </b-img>
    </b-col>
    
    <b-col>
      <b-img thumbnail fluid src="https://scontent.fbkk8-3.fna.fbcdn.net/v/t1.0-9/56510915_2838457489713635_8502953507026894848_n.jpg?_nc_cat=111&_nc_oc=AQnRXiIilNeFyij2UtQNBeT20uDKriqQqSyMX6jKwdQHcNx6N8gyiejqquoedJT5KYlR7PjsXfyszomzX0jlHWmf&_nc_ht=scontent.fbkk8-3.fna&oh=6f23bbb27ed01a5aecf24927357222c3&oe=5E37C74E" 
      alt="Image 2">
      </b-img>
    </b-col>
    
    <b-col >
      <b-img thumbnail fluid src="https://scontent.fbkk12-1.fna.fbcdn.net/v/t1.0-9/10313819_722746961110242_79936713120234192_n.jpg?_nc_cat=101&_nc_oc=AQmtOa3tAaTBODjDRbwOMhEQtxDXrFY_QH0DgNbauma5cZRnNsQVW3LJFwjFtO87_YZDxjBhgehFc264WH-LVFGt&_nc_ht=scontent.fbkk12-1.fna&oh=884ab07ca7799e4ce7bf7a4f8ec6c42b&oe=5E2EACB8" 
      alt="Image 3" >
      </b-img>
    </b-col>
    
    <b-col>
      <b-img thumbnail fluid src="https://scontent.fbkk12-4.fna.fbcdn.net/v/t1.0-1/c0.0.749.749a/70907400_2301051960003510_8569003111832616960_n.jpg?_nc_cat=103&_nc_oc=AQlGCpUqdo2o2zlEEWRjjSNRTd_D9VlUqwHphvm-YNior-ad-gjslBxPWB2pPf86jFduZAouCgrNSRf4uksQzJuz&_nc_ht=scontent.fbkk12-4.fna&oh=7df458e539b3ae3963f3b367d6348952&oe=5E2DA320"
       alt="Image 4"></b-img>
    </b-col>
    
    <b-col>
      <b-img thumbnail fluid src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/43666911_1111008295724263_630723253156970496_n.jpg?_nc_cat=105&_nc_oc=AQkfU4xSZJEq15dvh2fqZEkYzgfm8jX9bGphMz6xMObY86HvwTbsHm-ye-Yif5BFVF46BwKEohpOGgvJWG-couZL&_nc_ht=scontent.fbkk12-2.fna&oh=7d3b4189cf34d87abb6d6750308e1c32&oe=5DF846A3"
       alt="Image 5"></b-img>
    
    </b-col>
  </b-row>
</b-container>

</div>
    </template>

<style>

</style>