<template>
      <div>
          <b-alert show>Default Alert</b-alert>

        <h1>Address</h1>
      </div>
    </template>

<style>
h1{
  font-weight: 100;
  font-size: 5em;
  text-align: center;
}

</style>